# vs
.vscode/*

# build
src/build/*

# data
egs/gop-compute/data/*

# exp
egs/gop-compute/exp/*

# pre-trained model
egs/gop-compute/am/*
egs/gop-compute/lm/*

# sym links
egs/gop-compute/steps
egs/gop-compute/utils

# pyc
*.pyc

# fake test data
egs/gop-compute/test_data/xyz/*